.main{
    background-color: rgb(133, 27, 27);
    width:80%;
    padding: 10px;
    height: 100%;
}
.adminChield  {
    color:white;
    padding: 8px;
    text-decoration: none;
}
.icon{
    width:15%;
    padding:5px;
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.logo{
    width: 10%;
    height: 40px;
}